label {
	position: relative !important;
	display: inline !important;
}

.form-row {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.kdiv {
	min-height: 50%;
	max-height: 70%;
}

.modal-btn {
	padding-left:30px;
	padding-right: 30px;
	margin-left:10px;
	margin-right:10px;
}